<mat-toolbar class="überschrift" color="primary">
  <mat-toolbar-row>
    <span>Gökce's Rezeptbuchsammlung - Einkaufskorb </span>
    <span class="example-spacer"></span>
    <mat-icon class="home" aria-hidden="false" aria-label="Example home icon" routerLink="/start"
              matTooltip="Zurück zur Startseite">home
    </mat-icon>
    <span class="example-spacer2"></span>
    <mat-icon class="einkaufswagen" aria-hidden="false" aria-label="shopping" routerLink="/einkaufskorb"
              matTooltip="Einkaufskorb">shopping_cart
    </mat-icon>

